<h1>お気に入りレシピ</h1>
<% if @favorite_recipes.present? %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
    <% @favorite_recipes.each do |recipe| %>
      <%= render partial: 'recipes/recipe_card', locals: { recipe: recipe } %>
    <% end %>
  </div>
<% else %>
  <p><%= @no_favorite_message %></p>
  <p><%= link_to "みんなのレシピを見る", recipes_path %></p>
<% end %>