<main>
  <p id="notice"></p>

  <nav class="navbar navbar-light bg-light sticky-top justify-content-end">
    <a href="/recipes/new" id="new-recipe-link" class="navbar-brand">
      <i class="fas fa-pen-to-square">レシピを書く</i>
    </a>
  </nav>

  <div class="text-center my-3">
    <%= link_to "新着順", recipes_path, class: "btn btn-outline-secondary mx-2" %>
    <%= link_to "人気順", recipes_path(sort: 'favorites'), class: "btn btn-outline-secondary mx-2" %>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card', recipe: recipe %>
    <% end %>
  </div>
</main>
