<h1>おすすめレシピ</h1>
<%= form_with model: @recipe do |f| %>
  <%= render partial: 'recipes/recipe_form', locals: { f: f } %>
  <div class="col-md-6 mt-5 text-center">
    <%= f.submit '投稿する' %>
  </div>
<% end %>