<main>
  <h1>"<%= @query %>"の検索結果</h1>
  <% if flash.now[:notice].present? %>
    <div class="alert alert-warning">
      <%= flash.now[:notice] %>
    </div>
  <% end %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
    <% @results.each do |recipe| %>
      <%= render 'recipes/recipe_card', recipe: recipe %>
    <% end %>
  </div>
</main>