<main class="container">
  <div class="text-center">
    <%= render 'relationships/follow_list' %>
    <div class="col-md-3">
      <div class="user-followers text-left">
        <%= @user.followings.count %> フォロー中
      </div>
    </div>

    <% if @users.present? %>
      <%= render 'user_index', user: @user, current_user: current_user %>
    <% else %>
      <p>フォローしているユーザーはいません</p>
    <% end %>
  </div>
</main>