<main class="container">
  <%= render 'users/user_profile', user: @user, current_user: current_user %>

  <div class="text-center">
    <h2>レシピ一覧</h2>
    <% if @user_recipes.any? %>
      <div class="recipes">
        <% @user_recipes.each do |recipe| %>
          <%= render 'recipes/recipe_card', recipe: recipe %>
        <% end %>
      </div>
    <% else %>
      <p>まだ投稿されたレシピはありません。</p>
    <% end %>
  </div>
</main>