<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
      自炊レシピとは？
    </h1>
    <p class="px-3 mx-auto">
      自分で作った料理のレシピを写真とともに投稿できるサイトです。<br>
      自作したアレンジレシピや上手くいった料理を多くの人に共有したい方、<br>
      今日の献立を決めかねてる方も是非ご活用ください！！<br>
    </p>
  </div>
</div>