<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="px-3 mx-auto text-center mt-5">
        自炊レシピとは？
      </h1>
      <p class="px-3 mx-auto text-center" mt-3>
        自分で作った料理のレシピを写真とともに投稿できるサイトです。<br>
        自作したアレンジレシピや上手くいった料理を多くの人に共有したい方、<br>
        今日の献立を決めかねてる方も是非ご活用ください！！<br>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="px-3 mx-auto text-center mt-5">
    グループ機能
  </h2>
  <p class="px-3 mx-auto text-center" mt-3>
    グループ機能はグループに追加したユーザーのレシピを<br>
    まとめて見ることが出来ます！<br>
    家族や友人、フォロワーの方々とおすすめのレシピを共有しましょう！！<br>
  </p>
</div>