<div class="text-center">
  <thead>
    <tr>
      <h1>管理者トップページ</h1>
    </tr>
  </thead>

  <tbody>
    <li>
      <%= link_to 'ユーザー一覧', admin_users_path %>
    </li>
    <li>
      <%= link_to 'グループ一覧', admin_groups_path %>
    </li>
  </tbody>
</div>